*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
p{
    line-height: 25px;
}

/* start of header section style*/
header{
    background-image: url('images/banner/banner3.png');
    background-size: cover;
}
header .section-description{
    text-align: right;
    color: white;
    padding-top: 14%;
    padding-bottom: 14%;
    padding-right: 14%;
    padding-left: 60%;
}
header .section-description h1{
    font-size: 65px;
    font-weight: 700;
}
.section-description p{
    font-size: 16px;
    font-weight: 400;
    padding: 30px 0;
}
.btn-primary{
    background-color: white;
    padding: 15px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}
/* end of header section style */
main{
    max-width: 1200px;
    margin: 0 auto;
}
/* start of previous year style */
.previous-year{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin: 200px 0;
}
div .section-description h1{
    font-size: 40px;
    font-weight: 700;
    padding-right: 100px;
    margin-top: 250px;
}
div .list .list-item{
    display: flex;
    align-items: center;
    margin: -50px auto;
    gap: 10px;
}
div .list .list-item img{
    height: 30px;
}
/* end of previous year style */

/* start of plan style */
.plan{
    margin: 200px 0;
}
.plan .section-title h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
.plan .section-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plan .items{
    text-align: center;
}
.plan img{
    height: 100px;
}
.plan h2{
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0;
}
.plan p{
    font-size: 25px;
    font-weight: 500;
}
/* end of plan style */
