*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
p{
    line-height: 25px;
}

/* start of header section style*/
header{
    background-image: url('images/banner/banner4.png');
    background-size: cover;
}
header .section-description{
    text-align: left;
    color: white;
    padding-top: 14%;
    padding-bottom: 14%;
    padding-right: 60%;
    padding-left: 14%;
}
header .section-description h1{
    font-size: 65px;
    font-weight: 700;
}
.section-description p{
    font-size: 16px;
    font-weight: 400;
    padding: 30px 0;
}
.btn-primary{
    background-color: white;
    padding: 15px 30px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}
/* end of header section style */
main{
    max-width: 1200px;
    margin: 0 auto;
}
/* start of previous year style */
.previous-year{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin: 200px 0;
}
div .section-description h1{
    font-size: 40px;
    font-weight: 700;
    padding-right: 100px;
    margin-top: 250px;
}
div .section-description >p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
div .list .list-item{
    display: flex;
    align-items: center;
    margin: -50px auto;
    gap: 10px;
}
div .list .list-item img{
    height: 30px;
}
/* end of previous year style */

/* start of plan section style */
.plan{
    margin: 200px 0;
}
.plan .section-title h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
.plan .section-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plan .items{
    text-align: center;
}
.plan img{
    height: 100px;
}
.plan h2{
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0;
}
.plan p{
    font-size: 25px;
    font-weight: 500;
}

/* start of style for banner */
.banner{
    background-image:url('images/watch.png'), linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    background-blend-mode: multiply;
    background-size: cover;
    padding: 50px;
    margin-top: 150px;
    border-radius: 10px;
}
.banner h1{
    width: 45%;
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}
/* end of style for banner */

/* end of plan section style */

/* start of footer section style */
footer{
    background-color: #151414;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 150px 350px 150px 320px;
}
footer .details{
    width: 40%;
}
footer h1{
    font-size: 45px;
    font-weight: 700;
}
footer p{
    margin: 20px auto;
    font-size: 16px;
    font-weight: 400;
}
.subscribe-btn{
    background-color:  #005FAC;
    padding: 20px 40px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}
.form h2{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 700;
}
.form input{
    padding: 15px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #151414;
    width: 300px;
}
::placeholder{
    color: white;
    font-size: 18px;
    font-weight: 400;
}
/* end of footer section style */