*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
h1{
    font-size: 40px;
    margin-bottom: 30px;
}
h2{
    font-size: 30px;
    margin-bottom: 20px;
}
h1, h2{
    font-weight: 700;
}

.btn-primary{
    background-color: white;
    padding: 20px 25px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}
.section{
    margin: 200px 0;
    text-align: center;
}
/* common styles */

/* start of main section style */
main{
    max-width: 1200px;
    margin: 0 auto;
}
/* end of main section style */

/* start of header section style*/
header{
    background-image: url('images/banner/banner3.png');
    background-size: cover;
    color: white;
    text-align: right;
}
.header-section-description{
    padding: 14% 14% 14% 60%;
}
header h1{
    font-size: 65px;
    font-weight: 700;
}
header p{
    margin: 30px 0;
}
/* end of header section style */

/* start of previous year style */
.previous-year{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin: 200px 0;
}
.prev-year-section-description{
    padding-right: 100px;
    margin-top: 250px;
    color: #444343;
}
.prev-year-section-description h1{
    color: black;
}
.list{
    margin: 10px auto;
}
.list-item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.list-item img{
    height: 30px;
}
/* end of previous year style */

/* start of plan section style */
.section-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}
.items img{
    height: 100px;
    margin-bottom: 30px;
}
.items p{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}
/* end of plan section style */

/* start of style for banner */
.banner{
    background-image:url('images/watch.png'), linear-gradient(90deg, rgb(0, 162, 255) 0%, rgba(0, 95, 172, 0) 100%);
    background-blend-mode: multiply;
    background-size: cover;
    padding: 80px 70px;
    margin-top: 150px;
    border-radius: 10px;
    text-align: left;
    color: white;
}
.content{
    width: 45%;
}
/* end of style for banner */
/* end of plan section style */

/* start of extra added contact section style */
.contact{
    justify-content: space-around;
}
/* end of extra added contact section style */

/* start of footer section style */
footer{
    background-color: #151414;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 7% 17%;
}
footer .details{
    width: 40%;
}
footer h1{
    font-size: 45px;
}
footer p{
    margin: 20px auto;
}
.form h2{
    margin-bottom: 30px;
    font-size: 25px;
}
.form input{
    padding: 20px;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: #151414;
    width: 300px;
}
::placeholder{
    color: white;
}
.subscribe-btn{
    background-color:  #005FAC;
    padding: 20px 40px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 7px;
}
/* end of footer section style */